.home {
	min-height: 100%;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	text-align: center;
}

.home .container {
	margin-top: 50px;
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.home h1 {
	margin: 32px 0 48px 0;
	letter-spacing: 2px;
	line-height: 1.2em;
}

.home input {
	letter-spacing: 2px;
	height: 48px;
	max-width: 100%;
	width: 260px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 1.5em;
	padding: 12px 12px 6px 12px;
	text-align: center;
	transition: all 150ms ease-in-out;
	margin-bottom: 24px;
}

.home input[type="number"]::-webkit-outer-spin-button, 
.home input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
.home input[type="number"] {
    -moz-appearance: textfield;
}

.home input:focus {
	border-bottom: 1px solid #000;
	outline: none;
}

.home input::-webkit-input-placeholder {
	letter-spacing: 1px;
	font-size: 0.7em;
}

.home input:focus::placeholder {
	color: transparent;
}

.home button {
	width: 260px;
	margin: 6px 0;
}

.home button:active {
	background-color: #ececec;
}

.home .install {
	display: none;
}

.home .footer {
	max-width: 1000px;
	width: 100%;
    margin-bottom: 8px;
    font-size: 0.7em;
    color: #717171;
    height: 150px;
    box-sizing: border-box;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.home .ads {
	margin-bottom: 6px;
	display: block;
	height: 110px;
}

@media screen and (min-width: 640px){
	.home {
		position: initial;
	}

	.home .ads {
		max-width: 1000px;
		height: 100%;
	}
}