.control {
	padding: 24px;
	min-height: 100%;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	text-align: center;
	position: absolute;
}

.control .title h1 {
	margin: 16px 0 24px 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #404040;
}

.control .container {
	flex-direction: column;
	width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.control .container button {
	width: 100%;
    margin: 8px 0;
    flex: 1;
    max-height: 200px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.46);
    outline: none;
    border: none;
	border-bottom: 1px hidden #fff;
	color: #313131;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.control .container button:active {
	background-color: #ececec;
}

.control .container button:disabled {
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.16);
	cursor: default;
	font-weight: 500;
	color: #717171;
}

.control .bottom {
	width: 100%;
}

.control .bottom p {
	text-transform: uppercase;
	font-weight: 500;
	color: #464646;
	margin-bottom: 24px;
	font-size: 0.95em;
}

.control .bottom button {
	width: 100%;
	font-weight: 600;
	display: block;
	margin: 8px auto 0 auto;
}

.control .bottom button#disconnect {
    border-color: #D32F2F;
    background: #D32F2F;
    color: white;
}

@media screen and (min-width: 640px){
	.control {
		position: initial;
	}
	.control .container {
		flex-direction: row-reverse;
		max-width: 860px;
	}

	.control .container button {
		height: 200px;
		margin: 0 8px;
		max-height: initial;
		background-color: #fff;
		transition: all 50ms ease-in-out;
	}

	.control .container button:hover {
		box-shadow: 0 1px 6px rgba(32, 33, 36, 0.75);
	}

	.control .container button:disabled:hover {
		box-shadow: 0 1px 6px rgba(32, 33, 36, 0.16);
	}

	.control .bottom button {
		width: 260px;
	}
}