html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

button {
    box-sizing: border-box;
	border: 2px solid #000;
	background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	font-weight: 600;
}

@media screen and (min-width: 640px){
	html, body {
		min-height: 100vh;
	}

	#app {
		height: 100vh;
	}
}