html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100vh;
    min-height: 100%;
}

button {
    box-sizing: border-box;
	border: 2px solid #000;
	background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	font-weight: 600;
}

.toast {
    min-width: 200px;
    position: fixed;
    background: #323232;
    color: white;
    padding: 16px 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-size: 14px;
	z-index: 999;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
	transform: translateY(100px); 
	opacity: 0; 
	transition: all 150ms linear;   
}

.toast[toggle] {
	transform: translateY(0px); 
	opacity: 1;    
}

.toast .button {
	cursor: pointer;
	margin-left: 32px;
	font-weight: 500;
    text-transform: uppercase;
    color: #FFC107;
}

@media screen and (min-width: 640px){
	html, body {
		min-height: 100vh;
	}

	#app {
		height: 100vh;
	}

	.toast {
		bottom: 16px;
		left: 24px;
		border-radius: 2px;
		width: initial;
	}
}